@reference "../index.css";

.nav-container {
    @apply fixed top-0 left-0 right-0 z-50 bg-primary;
}

.nav-content {
    @apply px-4;
}

.nav-flex {
    @apply relative flex items-center justify-center h-16;
}

.nav-brand {
    @apply absolute left-0 text-xl font-bold text-white hover:text-gray-300 transition-colors w-[60px];
}

.nav-links {
    @apply flex;
}

.nav-button {
    @apply bg-primary text-white hover:bg-primary-foreground transition-colors h-full rounded-none focus:outline-none focus-visible:ring-0;
}

.nav-button-active {
    @apply bg-primary-foreground;
}

.nav-button-active-text {
    @apply text-transparent;
    background-image: linear-gradient(to right, #FF9000, #E83D84);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
