#root {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-yellow);
  position: 'relative';
  
  /* Color variables */
  --lila: #6d2c86;
  --light-yellow: #fff5c2;
  --off-yellow: #fff0b0;
  --mustard: #fabf36;
  --link-blue: #067bc2;
  --off-black: #3f300e;
}


.card {
  padding: 2em;
}
